
.button{
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-text-fill: #4b6aff;
	-fx-border-color: #4b6aff;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
	
}

.button:hover{
	-fx-background-color: #4b6aff;
	-fx-background-radius: 30;
	-fx-text-fill: white;
	-fx-border-color: #4b6aff;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.button:pressed{
	-fx-background-color: #4b6aff;
	-fx-background-radius: 30;
	-fx-text-fill: white;
	-fx-border-color: #4b6aff;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-rotate: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}


.choice-box {
    -fx-pref-width: 220;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: #4b6aff;
    -fx-border-radius: 20;
    -fx-border-width: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.choice-box .context-menu {
    -fx-pref-width: 220;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: #4b6aff;
    -fx-border-radius: 20;
    -fx-border-width: 5;
}

.choice-box .menu-item:focused { 
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: #4b6aff;
    -fx-border-radius: 20;
    -fx-border-width: 5;
}

.choice-box .menu-item > .label { 
    -fx-text-fill: #4b6aff;
}

.choice-box .menu-item:focused > .label { 
    -fx-text-fill: #4b6aff;
}


.label{
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-text-fill: #4b6aff;
}

.label2{
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-text-fill: #4b6aff;
	-fx-font-size: 25;
}

.fondoTablero{
    -fx-background-image: url("/imagenes/tablero.png");
}

.fondoMenu{
	-fx-background-color: white;
    -fx-border-color: #4b6aff;
	-fx-border-width: 30;
}

.fondoPartidaCarta {
	-fx-background-color: white;
    -fx-border-color: #4b6aff;
	-fx-border-width: 10;
}

.fondoBoton{
	-fx-background-color: white;
    -fx-border-color: #4b6aff;
	-fx-border-width: 7;
	-fx-border-radius: 40;
}