
.fondoTablero{
    -fx-background-image: url("/imagenes/tablero.png");
}

.fondoMenuPausa{
	-fx-background-color: white;
    -fx-border-color: #4b6aff;
	-fx-border-width: 30;
}

.fondoBoton{
	-fx-background-color: white;
    -fx-border-color: #4b6aff;
	-fx-border-width: 7;
	-fx-border-radius: 40;
}

.button{
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-font-size: 20;
	-fx-text-fill: #4b6aff;
	-fx-border-color: #4b6aff;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.button:hover{
	-fx-font-weight: bold;
	-fx-background-color: #4b6aff;
	-fx-background-radius: 30;
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-border-color: #4b6aff;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.button:pressed{
	-fx-font-weight: bold;
	-fx-background-color: #4b6aff;
	-fx-background-radius: 30;
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-border-color: #4b6aff;
	-fx-border-radius: 20;
	-fx-border-width: 5;
	-fx-rotate: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.label{
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-font-size: 20;
	-fx-text-fill: #4b6aff;
}